:root {
    --tamnoPlava: #140035;
    --svetloPlava: #39a1ff;
    --bela: #fff;
    --svetloSiva: #f7f7f7;
    --font: 16px;
    --transition: .4s ease;
    --padding: 100px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    font-weight: 500;
}

button {
    background: var(--tamnoPlava);
    border: none;
    padding: 10px 25px;
    color: var(--bela);
    transition: var(--transition);
    font-size: 1.1rem;
}

button:hover {
    opacity: .5;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
}

h2 {
    font-size: 2.6rem;
}


/***header***/
header {
    background: url(img/header.jpg);
    background-position: center;
    background-size: cover;
}



header article {
    width: 85%;
    margin: auto;
    padding-top: 300px;
    padding-bottom: 300px;
}

header article h1 {
    font-size: 4rem;
    text-shadow: 0 1px 0 var(--bela);

}

@media(max-width: 767px) {

    header {
        background-position: center left;
        background-size: inherit;
    }

    header article h1 {
        font-size: 3rem;
        text-shadow: 0 1px 0 var(--bela);

    }
}

header article p {
    font-size: 1rem;
    color: var(--bela);
}

header article button {
    margin-top: 30px;
}

/***whyus***/

.whyus {
    padding: var(--padding);
}

.whyus .col-6 {
    text-align: left;
}

.whyus .col-6 h2+p {
    font-size: 1rem;
    padding: 20px 0;
}

.whyus .wrapper {
    background: var(--svetloPlava);
    padding: 20px;
    margin: 30px;
    color: var(--bela);
}

@media(max-width: 767px) {
    .whyus .wrapper {
        margin: 30px 0 0 0;
    }
}

.whyus .wrapper p {
    padding-top: 10px;
}

/***services***/
.services {
    background: var(--svetloSiva);
}

.services .container {
    padding: var(--padding);
}

.services .col-4 {
    padding: 0 20px;
}

@media(max-width: 767px) {
    .services .col-4 {
        padding-top: 30px;
    }
}

.services .col-4 h2+p {
    padding: 20px 0;
}

/***projects***/
.projects {
    padding: var(--padding);
    text-align: center;
}

.projects h2+p {
    padding: 30px;
}

.projects .col-4 {
    text-align: left;
    padding: 0 20px;
}

@media(max-width: 767px) {
    .projects h4 {
        padding-top: 30px;
    }
}

.projects h4 {
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.projects h4+p {
    padding-bottom: 20px;
}

@media(max-width: 767px) {
    .projects button {
        margin-bottom: 40px;
    }
}

/***footer***/
footer {
    background: var(--svetloPlava);
    color: var(--bela);
    padding: var(--padding);
    text-align: center;
}

footer .row {
    text-align: left;
    padding-top: 30px;
}

footer .row .col-4 {
    padding: 0 20px;
}

footer h4 {
    padding-bottom: 20px;
    font-size: 1.3rem;
}

@media(max-width: 767px) {
    footer h4 {
        padding-top: 40px;
    }

    footer h4::after {
        display: block;
        content: "";
        height: 1px;
        background: var(--svetloSiva);
    }
}

footer h4+p {
    padding-bottom: 20px;
}


/***gridsystem***/
.row {
    width: 100%;
}

.row::after {
    display: block;
    content: "";
    clear: both;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-pet {
    width: 20%;
}

[class*="col-"] {
    float: left;
}

/***responsive***/
@media(max-width: 767px) {
    [class*="col-"] {
        width: 100%;
    }
}